<!DOCTYPE html>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<title>Add product</title>

<html>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">iThink</a>
    </div>
</nav>

<div class="container" style="padding-top: 25px; ">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card shadow-lg border border-success" style="padding: 6%;">

            <input type="file" class="form-control-file" id="myFile" name="myFile" onchange="AgregarArticulo()"
                style="visibility: hidden; height: 0px;">
            <input type="file" class="form-control-file" id="myFile2" name="myFile2" onchange="AgregarArticulo2()"
                style="visibility: hidden;height: 0px;">
            <input type="file" class="form-control-file" id="myFile3" name="myFile3" onchange="AgregarArticulo3()"
                style="visibility: hidden;height: 0px;">

            <div class="container">

                <div class="row">
                    <div class="col" align="center">
                        <div style="font-size: x-large;margin-bottom: 15px; font-weight: bold;">Imagen 1</div>
                        <img id="img1" onclick="addimage()" style="height: 250px; width: 250px;"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnNKg_7pKXEr8Wyd9HFNBLB3LEno62rqXME_UL3mzuxwyZ6j1gmAV55FYfubxwu2GAqEk&usqp=CAU">
                    </div>
                    <div class="col" align="center">
                        <div style="font-size: x-large;margin-bottom: 15px; font-weight: bold;">Imagen 2</div>
                        <img id="img2" onclick="addimage2()" style="height: 250px; width: 250px;"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnNKg_7pKXEr8Wyd9HFNBLB3LEno62rqXME_UL3mzuxwyZ6j1gmAV55FYfubxwu2GAqEk&usqp=CAU">
                    </div>
                    <div class="col" align="center">
                        <div style="font-size: x-large;margin-bottom: 15px; font-weight: bold;">Imagen 3</div>
                        <img id="img3" onclick="addimage3()" style="height: 250px; width: 250px;"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnNKg_7pKXEr8Wyd9HFNBLB3LEno62rqXME_UL3mzuxwyZ6j1gmAV55FYfubxwu2GAqEk&usqp=CAU">
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="margin-top: 40px;">
                        <label for="nombre">Nombre del producto:</label>
                        <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Playstation 5"
                            aria-label="Recipient's username" aria-describedby="basic-addon2"
                            onchange="nombre_Changed()">
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-top: 40px;">
                        <label for="precio">($MXN) Precio del producto: </label>
                        <input id="precio" name="precio" type="number" class="form-control" placeholder="2000"
                            aria-label="Recipient's username" aria-describedby="basic-addon2"
                            onchange="precio_Changed()">
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-top: 40px;">
                        <label for="descripcion">Descripcion del producto:</label>
                        <textarea id="descripcion" type="text" name="descripcion" class="form-control" rows="7"
                            aria-label="Recipient's username" aria-describedby="basic-addon2"
                            onchange="descripcion_Changed()"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-top: 20px;">
                        <button type="submit" class="btn btn-success" style="width: 100%;">Subir
                            producto</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

</html>

<script>

    var nombreComponent = document.getElementById("nombre");
    var precioComponent = document.getElementById("precio");
    var descripcionComponent = document.getElementById("descripcion");

    var nombre = "";
    var precio = "";
    var descripcion = "";

    function AgregarArticulo() {

        var input = document.getElementById('myFile');
        var url = input.value;
        var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
        var img1 = document.getElementById('img1');

        if (input.files && input.files[0] && (ext == "webp" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
            var reader = new FileReader();

            reader.onload = function (e) {
                img1.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
        else {
            img1.src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnNKg_7pKXEr8Wyd9HFNBLB3LEno62rqXME_UL3mzuxwyZ6j1gmAV55FYfubxwu2GAqEk&usqp=CAU";
        }
    }
    function AgregarArticulo2() {

        var input = document.getElementById('myFile2');
        var url = input.value;
        var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
        var img2 = document.getElementById('img2');

        if (input.files && input.files[0] && (ext == "webp" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
            var reader = new FileReader();

            reader.onload = function (e) {
                img2.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
        else {
            img2.src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnNKg_7pKXEr8Wyd9HFNBLB3LEno62rqXME_UL3mzuxwyZ6j1gmAV55FYfubxwu2GAqEk&usqp=CAU";
        }
    }
    function AgregarArticulo3() {

        var input = document.getElementById('myFile3');
        var url = input.value;
        var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
        var img3 = document.getElementById('img3');

        if (input.files && input.files[0] && (ext == "webp" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
            var reader = new FileReader();

            reader.onload = function (e) {
                img3.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
        else {
            img3.src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnNKg_7pKXEr8Wyd9HFNBLB3LEno62rqXME_UL3mzuxwyZ6j1gmAV55FYfubxwu2GAqEk&usqp=CAU";
        }
    }

    function addimage() {
        document.getElementById('myFile').click();
    }
    function addimage2() {
        document.getElementById('myFile2').click();
    }
    function addimage3() {
        document.getElementById('myFile3').click();
    }

    function nombre_Changed() {
        nombre = nombreComponent.value;
    }
    function precio_Changed() {
        precio = precioComponent.value;
    }
    function descripcion_Changed() {
        descripcion = descripcionComponent.value;
    }



</script>