<!DOCTYPE html>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


<title>Edit product</title>

<html>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">iThink</a>
    </div>
</nav>

<div class="container" style="padding-top: 25px; ">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card shadow-lg border border-success" style="padding: 6%;">

            <div class="container">
                <div class="row">
                    <div class="col" align="center">
                        <img id="img1" style="height: 250px; width: 250px;" src="{{imagen1.url}}">
                    </div>
                    <div class="col" align="center">
                        <img id="img2" style="height: 250px; width: 250px;" src="{{imagen2.url}}">
                    </div>
                    <div class="col" align="center">
                        <img id="img3" style="height: 250px; width: 250px;" src="{{imagen3.url}}">
                    </div>
                    <div align="center" style="margin-top: 20px;">(Las imagenes ingresadas no pueden ser cambiadas)
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="margin-top: 40px;">
                        <label for="nombre">Nombre del producto:</label>
                        <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Playstation 5"
                            aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{nombre}}"
                            ">
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-top: 40px;">
                        <label for="precio">($MXN) Precio del producto: </label>
                        <input id="precio" name="precio" type="number" class="form-control" placeholder="2000"
                            aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{precio}}"
                            ">
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-top: 40px;">
                        <label for="descripcion">Descripcion del producto:</label>
                        <textarea id="descripcion" type="text" name="descripcion" class="form-control" rows="7"
                            aria-label="Recipient's username" aria-describedby="basic-addon2"
                            >{{descripcion}}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-top: 20px;">
                        <button type="submit" class="btn btn-success" style="width: 100%;">Actualizar
                            producto</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

</html>
