<!DOCTYPE html>
{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<title>Home</title>

<html>

<head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" align="center">
      <a class="navbar-brand " href="#">iThink</a>
    </div>
  </nav>
</head>

<body>
  <div class="pt-5 pb-5">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Compartenos tu opinion 😊</h1>
        <p class="lead ">Te invitamos a dar tu opinion sobre los siguientes productos. Tu opinion apoyara a miles de
          usuario buscando algun articulo, recuerda, tu opinion vale mucho para otra persona.</p>
        <div id="btnAgregar" class="d-grid gap-2">
          <button class="btn btn-success" onclick="AgregarArticulo()" type="button"> + Agregar articulo</button>
        </div>
      </div>
    </section>
  </div>

  <div class="container">
    <div class="row">

      {% for dato in lista%}
      <!-- Primera carta -->
      <div class="col-md-4">
        <div class="card mb-4 box-shadow" style="height: 500px;">
          <img src="{{ dato.imagen1.url }}" class="card-img-top" style="height: 220px; width: 75%; margin-left: auto;
          margin-right: auto;">
          <div class="card-body">
            <h5 class="card-title fs-3">{{dato.precio}}</h5>
            <p class="card-text fs-5">{{dato.meses}}</p>
            <p class="card-text fs-5">{{dato.nombre}}</p>
            <p class="card-text text-warning">{{dato.envio}}</p>
            <a onclick="clickVerArticulo('{{dato.id}}')" class="btn btn-primary">Ver articulo</a>
            <a id="btnEditar" onclick="EditarArticulo('{{dato.id}}')" class="btn btn-success">Editar articulo</a>
            <a id="btnEliminar" onclick="eliminarArticulo('{{dato.id}}')" class="btn btn-danger">Eliminar articulo</a>
          </div>
        </div>
      </div>
      <!-- Fin Primera carta -->
      {% endfor %}


    </div>
  </div>
</body>

</html>

<script>


  //Valores obtenidos
  var lista = "{{lista}}";
  var uid = "{{uid}}";
  var email = "{{email}}";
  var name = "{{name}}";
  var lname = "{{lname}}";
  var admin = "{{admin}}";

  //Remueve todo los botones de administrador
  if (admin == 'False') {
    document.getElementById("btnAgregar").remove();

    try {
      for (let index = 0; index < lista.length; index++) {
        document.getElementById("btnEliminar").remove();
        document.getElementById("btnEditar").remove();
      }
    } catch (error) {

    }
  }

  function clickVerArticulo(pid) {
    document.location.href = "http://127.0.0.1:8000/product/id=" + uid + "&pid=" + pid;
  }

  function eliminarArticulo(pid) {
    document.location.href = "http://127.0.0.1:8000/product/remove/id=" + uid + "&pid=" + pid;
  }

  function AgregarArticulo() {
    document.location.href = "http://127.0.0.1:8000/product/add/id=" + uid;
  }
  function EditarArticulo(pid) {
    document.location.href = "http://127.0.0.1:8000/product/edit/id=" + uid + "&pid=" + pid;
  }

</script>