<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<title>Description</title>

<head>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:8000/home/id">iThink</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">



          </li>
        </ul>
      </div>
    </div>
  </nav>
</head>

<section class="jumbotron text-center">
  <div class="container">
    <div class="input-group mb-3">

    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="card mb-3" style="max-width: 5040px;">
      <div class="row g-0">
        <div class="col-md-7">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{ imagen1.url }}" class="d-block " width="100%" height="500px" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ imagen2.url }}" class="d-block " width="100%" height="500px" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ imagen3.url }}" class="d-block" width="100%" height="500px" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-body">

            <h2 class="card-title">{{nombre}}</h2><br>
            <h4 class="card-text">{{precio}}</h4><br>
            <p class="card-text text-warning">{{meses}}</p>
            <p class="card-text">IVA incluido</p>
            <p class="card-text">{{descripcion}}</p>

            <p class="card-text text-success">Envío gratis a todo el país </p>
            <p class="card-text">Disponible </p>


            <div class="d-grid gap-2 ">

              <a href="#" class="btn btn-primary" onclick="agregar()">Agregar Comentario</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div id="agregar" class="container my-4">
  <div id='Acomen' class="card my-3">
    <h5 class="card-header">Agregar Comentario</h5>
    <div class="card-body">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-bordered">
          <tr>
            <th>Comentario</th>
            <td>
              <textarea name="Comentario" class="form-control"></textarea>
            </td>
          </tr>
          <tr>

            <td colspan="4">
              <button type="submit" class="btn btn-primary ">Comentar</button>
            </td>

          </tr>
        </table>
      </form>
    </div>
  </div>

  <div id='actualizar' class="card my-3">
    <h5 class="card-header">Actualizar Comentario</h5>
    <div class="card-body">


      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-bordered">
          <tr>
            <th>Comentario</th>
            <td>
              <textarea id="txtactualizar" name="txtactualizar" class="form-control"></textarea>
              <input type="text" id="cid" style="height: 0px; visibility: hidden;" name="cid">
            </td>
          </tr>
          <tr>

            <td colspan="4">
              <button type="submit" class="btn btn-primary ">Actualizar</button>
            </td>

          </tr>
        </table>
      </form>
    </div>
  </div>
  {% for dato in lista%}
  <div class="card bg-dark my-3">

    <h4 class="card-header text-white">{{dato.nombre}}</h4>
    <div class="card text-black bg-light body">
      <h5 class="card-text">{{dato.comentar}}</h5>
      <p><a id='btnActualizar' onclick="actualizar('{{dato.comentar}}','{{dato.cid}}')"
          class="btn btn-success">Actualizar</a>
        <a id='btnEliminar' onclick="eliminarComentario('{{dato.cid}}')" class="btn btn-danger">Eliminar</a> </a>
      </p>
    </div>
  </div>
  {% endfor %}

</div>




</html>
<script>
  //Oculta el formulario de Agregar comentario
  var x = document.getElementById('Acomen');
  x.style.height = '0px';
  x.style.visibility = 'hidden'

  //Oculta el formulario de Actualizar comentario
  var update = document.getElementById('actualizar');
  update.style.height = '0px';
  update.style.visibility = 'hidden'

  //Obtiene las varibales dadas por view.py
  var lista = "{{lista}}";
  var admin = "{{admin}}";


  //Remueve todo los botones de administrador
  if (admin == 'False') {
    try {
      for (let index = 0; index < lista.length; index++) {
        document.getElementById("btnEliminar").remove();
        document.getElementById("btnActualizar").remove();
      }
    } catch (error) {

    }
  }

  //Muestra el formulario de agregar comentario
  function agregar() {
    x.style.height = '250px';
    x.style.visibility = 'visible';
    update.style.height = '0px';
    update.style.visibility = 'hidden';
  }

  //Muestra el formulario de actualizar comentario
  //y le damos el comentario en el textarea
  function actualizar(com, cid) {
    update.style.height = '250px';
    update.style.visibility = 'visible';
    x.style.height = '0px';
    x.style.visibility = 'hidden';
    document.getElementById("txtactualizar").value = com;
    document.getElementById("cid").value = cid;

  }

  //Redireccion a pagina de remove comentario
  function eliminarComentario(cid) {
    document.location.href = "http://127.0.0.1:8000/coment/remove/uid={{uid}}&cid=" + cid + "&pid={{pid}}";
  }

</script>