<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <style type="text/css">
        body {
            background: #eee;
            background-image: url('https://images.hdqwalls.com/download/polygon-mountains-minimalist-r3-3840x2400.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        .wrapper {
            padding-right: 25%;
            padding-left: 25%;
            padding-top: 10%;

        }

        .form-signin {
            max-width: 100px;
            margin: 0 auto;
            background-color: #fff;
            padding: 15px 40px 50px;
            border: 1px solid #e5e5e5;
            border-radius: 10px;
            align-items: center;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {

            margin-bottom: 30px;
            margin: 20px, 20px, 20px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            margin-bottom: 20px;
        }

        .form-signin .form-control {
            padding: 300px;
        }

        .danosTitle {
            text-align: center;
        }

        @media screen and (max-width: 800px) {
            .body {
                padding-right: 20%;
                padding-left: 20%;

            }
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading text-center">Registrate con nosotros</h2>
            <br>
            <div class="danosTitle">
                <h1>Danos tu opinion</h1>
            </div>
            <br>

            <input type="text" class="form-control" name="nombre" size=100" placeholder="Nombre(s)" required=""
                autofocus>
            <br>

            <input type="text" class="form-control" name="apellidos" size=100" placeholder="Apellidos" required=""
                autofocus>
            <br>

            <input type="text" class="form-control" name="email" size=100" placeholder="Email" required="" autofocus>
            <br>


            <input type="password" class="form-control" name="password" placeholder="Password" required="" autofocus>

            <div class="d-flex justify-content-center">
                <br>
                <div class="btn">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarme</button>
                </div>
                <br>
            </div>
        </form>

        <div class="d-flex justify-content-center text-center">
            <br>
            <a href="http://127.0.0.1:8000/">¿Ya tienes cuenta? Inicia sesion</a>
        </div>



    </div>


</body>

</html>