<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <style type="text/css">
        body {
            background: #eee;
            background-image: url('https://images7.alphacoders.com/938/thumb-1920-938300.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        .wrapper {

            padding-right: 25%;
            padding-left: 25%;
            padding-top: 3%;

        }

        .form-signin {
            max-width: 100px;
            margin: 0 auto;
            background-color: #fff;
            padding: 15px 40px 50px;
            border: 1px solid #e5e5e5;
            border-radius: 10px;
            align-items: center;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {

            margin-bottom: 30px;
            margin: 20px, 20px, 20px;

        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            margin-bottom: 20px;
        }

        .form-signin .form-control {
            padding: 300px;
        }

        .titulo1 {
            padding-top: 5%;
            text-align: center;

        }

        .titulo2 {
            padding-top: 1%;
            text-align: center;
            padding-bottom: 0px;

        }




        @media screen and (max-width: 800px) {
            .body {
                padding-right: 20%;
                padding-left: 20%;

            }
        }
    </style>
</head>

<body>

    <div class="titulo1">
        <h2>Bienvenido a</h2>
    </div>

    <div class="titulo2">
        <h1>iThink</h1>
    </div>



    <div class="wrapper" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">

        <input type="text" class="form-control" id="email" size="50" placeholder="Email" required="" autofocus>
        <br>
        <input type="password" class="form-control" id="password" placeholder="Contraseña" required="">


        <br>
        <div class="d-flex justify-content-center">
            <button id="btnLogIn" class="btn btn-lg btn-primary btn-block" onclick="login()">Iniciar sesion</button>
            <br>
        </div>




        <div class="d-flex justify-content-center text-center">
            <br>
            <a href="http://127.0.0.1:8000/rgstr/">¿Aun no tienes cuenta? Registrate</a>
        </div>



    </div>


</body>

</html>


<script>
    //Limipieza de json
    var myJSONList = (("{{userjson}}").replace(/&(l|g|quo)t;/g, function (a, b) {
        return {
            l: '<',
            g: '>',
            quo: '"'
        }[b];
    }));

    //Lista de usuarios
    var myData = JSON.parse(myJSONList);

    function login() {
        var bandera = false;
        var id = 0;
        for (let index = 0; index < myData.length; index++) {

            if ((myData[index].fields.email == document.getElementById('email').value) && (myData[index].fields.contrasena == document.getElementById('password').value)) {
                bandera = true;
                id = index;
                break;
            } 
        }

        if (bandera) {
            document.location.href = "http://127.0.0.1:8000/home/id=" + (id + 1);
        }
    }


</script>